@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @Html.DisplayFor(model => model.name)
</div>
<a class="btn btn-info" asp-page="/Pokemons/Detail" asp-route-id="@data.ID"/>Detalhes</a>
